.casilla{
    border: 1px solid whitesmoke;
    transition-duration: 0.2s;
    background-color: white;
}

.casilla:hover {
    transform: scale(0.8);
    transition: visibility 0s 2s, opacity 2s linear;
    border-color: green;
    border-width: 5px;
}